{% extends 'base/base.html' %}
{% block content %}
<a href="{% url 'createCred' %}" class="btn btn-outline-success mb-2 float-start">Add More Credentials</a>
<h1 class="text-success my-5 text-center">Your Credentials List!
<button type="submit" class="btn btn-outline-danger mb-2 float-end" onclick="location.href = '/logout/'">Sign Out</button>
</h1>
    {% for credential in credentials %}
    <div class="container p-5">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">{{ credential.account_type }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Username: {{ credential.username }}</p>
                <p class="card-text">Password: {{ credential.password }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}