{% extends 'base/base.html' %}
{% block content %}
<h1 class="text-success my-5 text-center">Your Credentials List!</h1>
    {% for credential in credentials %}
    <div class="container p-5">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">{{ credential.account_type }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Username: {{ credential.username }}</p>
                <p class="card-text">Password: {{ credential.password }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}