{% extends 'base/base.html' %}
{% block content %}

<h1 class="text-success text-center my-3 fs-3">Welcome {{request.user.username}}</h1>
<h1 class="text-success my-5 text-center">Save Your Credentials Here!</h1>
<form method="post" enctype="multipart/form-data" class="container p-5">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Account Type</label>
    <select class="form-select" aria-label="Default select example" name="account_type">
      <option selected>Choose Account Type</option>
      <option value="Github">GitHub</option>
      <option value="Dockerhub">DockerHub</option>
      <option value="Microsoft">Microsoft</option>
      <option value="Amazon">Amazon</option>
      <option value="Google">Google</option>
      <option value="Facebook">Facebook</option>
      <option value="Twitter">Twitter</option>
      <option value="Linkedin">Linkedin</option>
      <option value="Instagram">Instagram</option>
      <option value="Heroku">Heroku</option>
      <option value="Steam">Steam</option>
      <option value="Origin">Origin</option>
      <option value="Postgres14">Postgres14</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Username</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="username" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
  </div>
  <div id="emailHelp" class="form-text mb-3">We'll never share your credentials with anyone else.</div>
  <button type="submit" class="btn btn-outline-primary">Save</button>
  <button type="submit" class="btn btn-outline-success float-end" onclick="location.href = '/get/'">Check Credentials
    List</button>
</form>

{% endblock %}